{% extends 'base.html' %}

{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
{% load static %}

<div class="container my-4">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading">Quaint Vision <span class="text-muted">A Revolution.</span></h2>
            <div class="col-md-5 order-md-1">
                <img class="img-fluid" src="/static/img/originallogo.png" alt="">
            </div>
            <p class="lead">The minds to Analyse,
                The ability to Visualise,
                The desire to Revolutionalize...
                Will now be supported, promoted and voiced by this forum which is to initiate, to speak, to discuss,
                to condemn, to criticise, to appreciate and to finally revamp the whole society starting from
                revamping thoughts and vision.

                Our society, from ancient times has fallen prey to narrow-mindedness and reluctance to positive
                reformation. Issues created and prevailing as a result of this reluctance is visible everyone but
                are censured publically by a very small fraction.
                Quaint Vision is a voice against them all, whether it be the creator or acceptor of societal and
                mental termites. And now, we've initiated to make you all a part of this historical journey towards
                eradiacting these termites and correcting the roots with not only the vision to change, but also the
                incentive to start a revolution through mental revamping.


            </p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="/static/img/1st.jpg" alt="">
        </div>
    </div>

    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Our Motto: <span class="text-muted">Revamping starts here.</span></h2>
            <p class="lead">Who doesn't wish to see this society and minds of people change for good? The drowning
                quality of thoughts and life is seen by everyone but people either fear to speak up or care it damn
                to give these issues their due consideration, time and effort unless something widely noticeable
                greets the mass.
                We here aim to inculcate in minds of people, the importance of discussing things that are hollowing
                the foundation of humanity, the importance of going deep into the things happening with our agers,
                and the things which has degraded humanity since ages, and the things which are lowering the quality of
                thoughts with descending physical time. WE ARE AIMING FOR A CULTURE WHICH CONSIDERS EVERYBOY'S
                OPINION EQUALLY, AND FOREMOST, STARTS TO THINK, SPEAK AND ACT.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="img-fluid" src="/static/img/blogquote.jpg" alt="">
        </div>
    </div>

    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading">The Process: <span class="text-muted">How're we going to put our vision
                    into action? </span></h2>
            <p class="lead">With time, our priorities have changed and quality of life and minds is one of the least
                discussed. We've indulged into a process of accepting and imitating rather that changing what is
                going wrong. We hereby provide you an interactive platform to make your minute concerns about life,
                a discussed matter. This Blog page will communalise people concerned on different subjects and every
                small concern of them, every minute suggestion, would be read, discussed, and considered. When
                people with diverse thoughts form a community to discuss ideas and issues, they're sure to explore
                amazing ways to sort the wrong and form the new. Every person, be it a kid or a 70+ experience
                holder of life, regardless of any cheap boundary, here have an equal say. Every thought would be
                read, considered, analyzed, and replied by every other person related to the category. A community of
                all agers, thinkers and initiators, blogging confidently in their category page would drive humanity out
                of all wrongs its has indulged into. Every different coloumn of this amazing forum is going to
                fascinate you,compell you, to think and act.
                From "let's think/speak", we'd attain a time of "we've brought changes so far." </p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="/static/img/journeyquote.jpg" alt="">
            <p class="lead">Make yourself a part of this community, enjoy the amazing experience of discovering
                people and see with your eyes, the world changing.
                Starting from a company of few like-minded activists, we'd drive the whole mankind towards a mind
                blowing revamp! All initiated by the small step of thinking and presenting.!!🙏 </p>
        </div>
    </div>
</div>

{% endblock body %}